.widget-about .logo {
  max-width: 15em;
}

.widget.widget-about.sep-after {
  width: 200px;
  height: 133px;
}
.header .sep-after:after {
  border-bottom-color: #6699cc;
  border-bottom-color: var(--color-accent);
}
.has-sidebar .main {
  margin-left: 369px;
}
div.logo {
  width: 369px;
  height: 133px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container {
  padding-right: 0px;
}
.main {
  margin-left: 0px;
  padding-right: 0px;
}
.sidebar {
  width: 369px;
}

